/* line 1, ../sass/_default.scss */
body {
  font-family: 'Microsoft YaHei';
}

/* line 2, ../sass/_default.scss */
.wid1200 {
  width: 1200px;
  margin: 0 auto;
}

/* line 4, ../sass/regist.scss */
#header {
  box-shadow: 0 5px 10px #999;
}
/* line 6, ../sass/regist.scss */
#header .logo {
  overflow: hidden;
  padding: 30px 0;
}
/* line 9, ../sass/regist.scss */
#header .logo img {
  float: left;
  margin-right: 20px;
}
/* line 13, ../sass/regist.scss */
#header .logo span {
  float: left;
  height: 34px;
  border-left: 1px solid #999;
  padding-left: 20px;
  font-size: 20px;
  line-height: 34px;
  margin-top: 24px;
  letter-spacing: 10px;
}

/* line 26, ../sass/regist.scss */
.main {
  display: block;
}

/* line 28, ../sass/regist.scss */
#inpBox {
  width: 670px;
  position: absolute;
  height: 370px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  left: 50%;
  margin-left: -335px;
  margin-top: -185px;
}
/* line 39, ../sass/regist.scss */
#inpBox form {
  padding: 20px;
  padding-top: 30px;
}
/* line 42, ../sass/regist.scss */
#inpBox form div {
  overflow: hidden;
  font-size: 14px;
  margin-bottom: 15px;
}
/* line 46, ../sass/regist.scss */
#inpBox form div label {
  float: left;
  line-height: 34px;
  color: #fff;
}
/* line 50, ../sass/regist.scss */
#inpBox form div label[for] {
  width: 70px;
  text-align: right;
  margin-right: 10px;
  color: #666;
  font-weight: bold;
}
/* line 57, ../sass/regist.scss */
#inpBox form div label[id] {
  display: none;
  width: 210px;
  border-radius: 5px;
  padding: 5px 10px;
  height: 24px;
  line-height: 24px;
  color: #fff;
}
/* line 67, ../sass/regist.scss */
#inpBox form div input {
  float: left;
  width: 254px;
  height: 24px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Microsoft YaHei';
  line-height: 24px;
  margin-right: 10px;
}
/* line 79, ../sass/regist.scss */
#inpBox form #subtn {
  display: block;
  width: 219px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  text-align: center;
  margin-left: 80px;
  background: #5cb85c;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
}

/* line 97, ../sass/regist.scss */
#noticeMask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}
/* line 104, ../sass/regist.scss */
#noticeMask #maskbox {
  height: 100%;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
/* line 110, ../sass/regist.scss */
#noticeMask #noticebox {
  position: absolute;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  line-height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
}

/* line 125, ../sass/regist.scss */
#footer {
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #666;
  line-height: 20px;
}
/* line 131, ../sass/regist.scss */
#footer a {
  color: #666;
  margin-right: 5px;
  margin-left: 2px;
}
